<p>Create new Restaurant</p>
<div class="btn btn-light">
  <%= link_to 'New', new_restaurant_path %>
</div>

<ul class="list-group text-center">
  <li class="list-group-item">Resturant list: </li>

  <% @restaurants.each do |restaurant| %>
     <li class="list-group-item list-group-item-primary"> <%= restaurant.name %></li>
 <li class="list-group-item list-group-item-primary"><%= render 'card', restaurant: restaurant %></li>
<% end %>

</ul>

</div>

